Body {
    background-image: url("../image/Background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: grey;
    
}

.btn{
    margin: 1%;
}

.bandeauPerso{
    background-color: rgb(0, 0, 0, 0.8);
    text-align: center;
}

.bandeauPersoEcriture {
    color: white;
    font-weight: 700;
    padding: .9rem 0;
}

.ActiveMe {
    color: rgb(6, 19, 136)!important;
    font-weight: bold;
}

.centerPerso {
    text-align: center;
}

.rightPerso {
    text-align: right;
}

.leftPerso {
    text-align: left;
}
.marginTop17 {
    margin-top: 17%;
}
.marginTop15 {
    margin-top: 15%;
}
.marginTop10 {
    margin-top: 10%;
}
.marginTop8 {
    margin-top: 8%;
}
.marginTop7 {
    margin-top: 7%;
}

.marginTop5 {
    margin-top: 5%;
}

.marginTop1 {
    margin-top: 1%;
}

.marginTop3 {
    margin-top: 3%;
}

.marginTop2 {
    margin-top: 2%;
}

.marginBot10 {
    margin-bottom: 10%;
}

.marginBot8 {
    margin-bottom: 8%;
}

.marginBot7 {
    margin-bottom: 7%;
}

.marginBot5 {
    margin-bottom: 5%;
}

.marginBot3{
    margin-bottom: 3%;
}

.marginBot1{
    margin-bottom: 1%;
}

.marginLeft2{
    margin-left:2%
}

.alignLeft {
    text-align: left;
}

.textBackGround002 {
    background-color: rgb(0, 0, 0, 0.2);
}

.textBackGroundBlack {
    background-color: rgb(0, 0, 0, 1);
}

.souligner {
    text-decoration: underline;
}

h1, h2, h3 {
    text-decoration: underline;
    color: rgb(65, 62, 62);
    font-weight: bold;
}

p {
    font-weight: bold;
}

.textBold {
    font-weight: bold;
}

.textColorWhite {
    color: white;
}

.textColorGray {
    color: gray;
}

.textColorBlack {
    color: black;
}

.colorLecture
{
    color: gray;
}
 
.colorLecture:hover
{
    color: rgb(80, 80, 80);
}

/* Debut card */

.card-header{
    border-bottom: 3px solid gray;
}

.card {
    background-color: transparent;
    border: 5px solid gray;
    border-style: inset!important;
}

.border-success {
    border-top: 3px solid gray!important;
}

.cardInsideCard{
    border-left: transparent;
    border-right: transparent;
    width: 90%; 
    text-align: center!important; 
    margin-left: 5%;
}

.cardinsideLastCard{
    border-bottom: transparent;
}

/* Fin card */



